:root {
  --background: #ffffff;
  --foreground: #171717;
  --grey-cl: #dfe1df !important;
  --font-fam: "Outfit", sans-serif !important;
  --bg-color: #12c081 !important;
  --color: #1d1f27 !important;
  --light-green: #5cffec;
  --cl-brown: rgba(115, 115, 115, 1);
  --cl-bl: rgba(29, 31, 39, 1);
}

@media only screen and (max-width: 768px) {
  /* ***************** */
  .search_container > .search_container_box > .search_tab {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .search_container
    > .search_container_box
    > .search_tab
    > .tab_link
    > .help_info {
    display: none;
  }
  .search_box_input > form {
    padding: 0px !important;
  }
  /* Header >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
  .section_home_banner {
    height: 200px;
  }
  .banner_box > .title > h2 {
    font-size: 42px;

    line-height: 0px;
  }
  .banner_box > .title > h5 {
    font-size: 18px;

    margin-top: 32px;
  }
  .destination_box > .destination_img {
    position: relative;
    margin-top: 15px;
  }
  /* ********* swiper  */
  .swiper-slide .slide-text > .text > h2 {
    margin-bottom: 0px !important;
    font-size: 26px;
    font-weight: 500;
    line-height: 35px;
  }
  .swiper-slide .slide-text > .text_point {
    font-size: 10px;
  }
  .swiper-slide .slide-text > .text_button > button > span {
    font-size: 12px;
    font-weight: 600;
  }
  .swiper-slide .slide-text > .text_button > button {
    padding: 10px 30px;
  }
  .swiper-slide .slide-text > .text_button {
    margin-top: 0px !important;
  }
  .recomend_section {
    overflow-y: hidden !important;
  }
  /* *********************************************** */
  .search_container
    > .search_container_box
    > .search_tab
    > .tab_link
    > ul
    > li:nth-child(1)
    > a {
    width: 110px;
  }
  .search_container
    > .search_container_box
    > .search_tab
    > .tab_link
    > ul
    > li:nth-child(4)
    > a {
    width: 125px;
  }
  .mobile_search_box {
    padding: 20px;
    box-shadow: 0px 0px 3px 0px #c5c5c5;
    border-radius: 13px;
  }
  .mobile_search_box form > input {
    border-radius: 60px;
    padding: 13px 43px;
  }
}
/* ************************************************************************************************************************ */
@media only screen and (max-width: 425px) {
  /* ************************************************************** */
  body > div {
    overflow-x: hidden;
  }
  .navbar-brand > .logo > img {
    width: 90%;
  }
  .search_container > .search_container_box > .search_tab {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    margin-bottom: 20px;
  }
  .recomend_section {
    overflow-y: hidden !important;
  }
  .md-pb {
    padding-bottom: 30px !important;
  }

  .header_section {
    padding: 0px 20px;
  }
  .navbar_link_item > .navbar-nav-scroll {
    gap: 0 !important;
  }
  .mp-s,
  .mp-e {
    padding: 0 !important;
  }
  .banner_box > .title > h2 {
    font-size: 30px;
    line-height: 0;
  }
  .banner_box > .title > h5 {
    margin-top: 20px;
    font-size: 12px;
  }
  .section_home_banner {
    height: 150px;
  }
  .search_container > .search_container_box > .search_tab {
    padding-left: 0 !important;
    padding-right: 0 !important;
    overflow: auto;
    -ms-overflow-style: none;
  }
  /* ********************* */
  .recomend_section > .section_title > .title_icon {
    display: none;
  }
  /* ****************** */
  .search_container
    > .search_container_box
    > .search_tab
    > .tab_link
    > ul
    > li:nth-child(1)
    > a {
    width: 110px;
  }
  .search_container
    > .search_container_box
    > .search_tab
    > .tab_link
    > ul
    > li:nth-child(4)
    > a {
    width: 125px;
  }
  .mobile_search_box {
    padding: 20px;
    box-shadow: 0px 0px 3px 0px #c5c5c5;
    border-radius: 13px;
  }
  .mobile_search_box form > input {
    border-radius: 60px;
    padding: 13px 43px;
  }
  .section_title > h2 {
    font-size: 27px;
    line-height: 31px;
  }
  .section_title > h5 {
    margin-top: 5px;
    font-size: 15px;
  }
  .experience_explore_section {
    padding-bottom: 20px;
  }
  .experience_explore_section > .card > .card-body > .card_detail > h5 {
    font-size: 18px;
    padding-left: 10px;
  }
  .experience_explore_section > .card > .card-body > .card_detail > p {
    font-size: 15px;
    font-weight: 300;
    padding-left: 10px;
  }
  /* /********************************* mobile searcfh ing  */
  /* *************************** destination  */
  .swiper-backface-hidden .swiper-slide {
    backface-visibility: hidden;
    transform: translateZ(0);
    padding: 0px 10px;
  }
  .destination_title {
    margin-bottom: 10px;
  }
  .destination_box > .destination_img > img {
    height: 200px;
  }
  /* *************** vanner ofer */

  /* SAME padding for ALL slides */
  .swiper-slide .slide-text {
    padding: 0px 30px !important;
    gap: 10px !important;
  }

  /* Optional: animation only */
  .swiper-slide {
    transition: transform 0.3s ease, opacity 0.3s ease;
  }

  .swiper-slide-active {
    opacity: 1;
  }

  .swiper-slide-prev,
  .swiper-slide-next {
    opacity: 0.95;
  }

  .offer_swiper {
    padding: 30px 0px 20px 0px;
  }

  .grid-cols-2 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 15px;
  }

  .swiper_inner_img {
    -webkit-mask-image: none;
    padding: 12px 25px;
  }

  .swiper_inner_img img {
    border-radius: 20px;
  }
  .blog_box {
    /* padding: 0px 35px; */
    margin-bottom: 25px !important;
  }
  .blog_section > .destination_title {
    margin-bottom: 30px;
  }
  .footer_detail > .footer_logo {
    margin-bottom: 30px;
  }
  .footer_link > .link_title > h5,
  .footer_link > ul {
    padding-left: 0px !important;
  }
  .footer_contact_detail {
    padding: 0px !important;
  }
  .footer_contact_info > .row {
    gap: 20px;
  }
  .bottom_footer > .reserved_section {
    flex-wrap: wrap;
    gap: 15px;
  }

  .blog_box > .blog_img > .content > a {
    color: #fff;
    padding-top: 0px;
  }
  /* *********************************   off canvas  */
  .offcanvas.offcanvas-end {
    width: 80%;
  }
  /* ********************************************************   canva s */
  .offcanvas-title > .logo > img {
    width: 90%;
  }
  .offcanvas-header .btn-close {
    font-size: 20px;
    border: 1px solid #1b1a1d;
  }
  .mega_menu_item > .mega_menu_link > ul {
    padding-top: 50px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 30px;
  }
  .mega_menu_item > .mega_menu_link > ul > li {
    margin-bottom: 25px;
  }
  .mega_menu_item > .mega_menu_link > ul > li > a {
    letter-spacing: 0.4px;
    color: #110f0f;
    line-height: 1;
    position: relative;
    font-family: var(--font-fam);
    font-weight: 650;
    font-size: 16px;
    text-decoration: none;
    transition: all 0.5s ease-out 0s;
    position: relative;
    background-color: transparent;
  }
  .button_nav {
    background-color: var(--bg-color);
  }
  .button_nav > a {
    color: var(--color);
    text-decoration: none;
    font-weight: 600;
    font-family: var(--font-fam);
  }
  /* *** footer  */
  .footer_detail {
    padding: 0px 20px;
  }
  .footer_link {
    padding: 0px 20px;
  }
  .footer_newslatter {
    padding: 0px 20px;
  }
  .footer_contact_info {
    padding: 0px 20px;
    margin-top: 20px;
  }
  .bottom_footer {
    padding: 0px 20px;
  }
}
/* ******************************************************************************************* 375 */
@media only screen and (max-width: 375px) {
  .banner_box > .title > h2 {
    font-size: 27px;
    line-height: 0;
  }
}
/* ***************************************************************************** 320 */
@media only screen and (max-width: 325px) {
  .banner_box > .title > h2 {
    font-size: 24px;
    line-height: 0;
  }
  .navbar-brand > .logo > img {
    width: 90%;
  }
}

/* ***************************************************************************************************8888888888888888888*****************************    edn end end edn  */
/* ****************** mobile swiper button  */
.button_swiper {
  position: absolute;
  top: 45%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  z-index: 10;
  background: none;
  border: none;
  cursor: pointer;
}
.button_swiper2 {
  position: absolute;
  top: 35%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  z-index: 10;
  background: none;
  border: none;
  cursor: pointer;
}
#custom_prev > svg,
#custom_next > svg {
  fill: var(--background);
  stroke-opacity: 1;
}
#custom_prev,
#custom_next {
  background-color: var(--bg-color);
  font-size: 30px;
  border-radius: 50%;
}
#custom_prev {
  top: 50%;
  left: -5% !important;
  transform: translateY(-50%);
}

#custom_next {
  right: -6%;
  transform: translateY(-50%);
}
