:root {
  --background: #ffffff;
  --foreground: #171717;
  --grey-cl: #dfe1df !important;
  --font-fam: "Outfit", sans-serif !important;
  --bg-color: #12c081 !important;
  --color: #1d1f27 !important;
  --light-green: #5cffec;
  --cl-brown: rgba(115, 115, 115, 1);
  --cl-bl: rgba(29, 31, 39, 1);
}

.hotel-card .hotel-content h5 a {
  color: var(--color);
  font-family: var(--font-fam);
  font-weight: 600;
  font-size: 20px;
  line-height: 1.4;
  transition: 0.5s;
  text-decoration: none;
}
.hotel-card .hotel-content .location-area .location a {
  color: var(--cl-bl);
  font-family: var(--font-fam);
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 1;
  transition: 0.5s;
}
.hotel-card > .hotel-content > .location-area > .map-view {
  font-family: var(--font-fam);
  font-weight: 500;
  font-size: 12px;
  line-height: 1;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: 0.5s;
  color: #1781fe;
}
.hotel-card .hotel-content .hotel-feature-list li svg {
  fill: #1781fe !important;
}
.hotel-card .hotel-content .hotel-feature-list li svg rect {
  fill: #ffffff !important;
  stroke: #1781fe !important;
}
.hotel-card .hotel-content .cancellation svg {
  fill: #ffffff !important;
}
.hotel-card .hotel-content .cancellation svg rect {
  fill: #1781fe !important;
}
.primary-btn1 {
  background-color: var(--bg-color);
  font-family: var(--font-fam);
  font-weight: 600;
  font-size: 15px;
  color: var(--cl-bl);
  letter-spacing: 0.48px;
  line-height: 1;
  padding: 20px 24px;
  border-radius: 10px;
  position: relative;
  align-items: center;
  display: inline-flex;
  transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  overflow: hidden;
  z-index: 1;
  text-decoration: none;
  white-space: nowrap;
}
.primary-btn1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 102% 102%;
  border-radius: inherit;
  transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  opacity: 0;
  z-index: -1;
}
.primary-btn1 > span {
  transition: opacity 0.3s, transform 0.3s;
  transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  background-color: transparent;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.primary-btn1 > span:nth-child(2) {
  position: absolute;
  top: 50%;
  left: 0;
  opacity: 0;
  transform: translate(0, 100%);
  transition: opacity 0.3s, transform 0.3s;
  transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  white-space: nowrap;
}
.primary-btn1::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(110%);
  background-color: var(--cl-bl);
  overflow: hidden;
  transition: opacity 0.5s, transform 0.5s;
  z-index: -1;
}
.primary-btn1:hover > span:nth-child(2) {
  opacity: 1;
  transform: translate(0%, -50%);
}

.primary-btn1:hover > span {
  transform: translateY(-150%);
  opacity: 0;
}
.hotel-card .hotel-content .btn-and-price-area .price-area h6 {
  color: var(--cl-bl);
  font-family: var(--font-fam);
  font-weight: 600;
  font-size: 14px;
  line-height: 1;
  margin-bottom: 10px;
  text-align: end;
}
.hotel-card .hotel-content .btn-and-price-area .price-area span {
  color: var(--cl-bl);
  font-family: var(--font-fam);
  font-weight: 600;
  font-size: 25px;
  line-height: 1;
  display: flex;
  align-items: baseline;
  justify-content: end;
  gap: 5px;
  flex-wrap: wrap;
}
