@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --grey-cl: #dfe1df !important;
  --font-fam: "Outfit", sans-serif !important;
  --bg-color: #12c081 !important;
  --color: #1d1f27 !important;
  --light-green: #5cffec;
  --cl-brown: rgba(115, 115, 115, 1);
  --cl-bl: rgba(29, 31, 39, 1);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
button {
  font-family: var(--font-fam);
}
.margin_lr {
  margin: 0px 10px;
}
.bg-color-green {
  background-color: var(--bg-color);
}
/* ************************************************************************************************************ renw */
.navbar_link_item > .navbar-nav > a {
  display: flex;
  align-items: center;
  gap: 4px;
  font-weight: 500;
  font-style: medium;
  font-family: var(--font-fam);
  color: var(--color);
}
.navbar_link_item > .navbar-nav > .search_sign_button > .sign-in-button {
  text-decoration: none;
  font-weight: 600;
  font-family: var(--font-fam);
  background-color: var(--color);
  padding: 7.5px 18px;
  color: #ffff;
  border-radius: 25px 25px 25px 25px;
  margin-left: 2px;
}
.navbar_link_item > .navbar-nav > .search_sign_button > .search > button > svg {
  font-size: 24px;
  color: var(--color);
}
/* ************************* banner  */
.section_home_banner {
  /* background-image: url("/home/banner/img_banner.png"); */
  width: 100%;
  height: 340px;
  position: relative;
  object-fit: cover;
  background-size: cover;
  background-position: center;
}
.banner_box > .title {
  z-index: 1;
  position: relative;
}
.banner_box > .title > h2 {
  font-size: 98px;
  color: var(--color);
  font-weight: 900;
  line-height: 60px;
}
.banner_box > .title > h2 > span {
  color: var(--bg-color);
}
.banner_box > .title > h5 {
  font-weight: 800;
  font-size: 33px;
  line-height: 100%;
  color: var(--color);
  margin-top: 40px;
  font-family: var(--font-fam);
}
.banner_box > .title > h5 > span {
  background-color: var(--light-green);
  color: var(--color);
  font-weight: 600;
}
.button_bg {
  text-decoration: none;
  font-weight: 600;
  font-family: var(--font-fam);
  background-color: var(--color);
  padding: 7.5px 18px;
  color: #ffff;
  border-radius: 25px 25px 25px 25px;
  margin-left: 2px;
}
.search_container
  > .search_container_box
  > .search_tab
  > .tab_link
  > ul
  > li
  > a {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: var(--color);
  font-weight: 500;
  text-transform: capitalize;
}
.search_box_input > form > .search_box > div > svg {
  font-size: 18px;
}
.search_box_input > form > .search_box > input {
  padding: 20px 45px;
  border-radius: 60px;
}
.button_bg2 {
  text-decoration: none;
  font-weight: 600;
  font-family: var(--font-fam);
  background-color: var(--bg-color);
  padding: 7.5px 18px;
  color: var(--foreground);
  border-radius: 25px 25px 25px 25px;
  margin-left: 2px;
  width: 158px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
}
.search_container {
  top: 82%;
  left: 7%;
  right: 7%;
}
.search_container > .search_container_box {
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.05);
}
/* **************************** destination  */
.section_title > h2 {
  font-family: var(--font-fam);
  font-weight: 600;
  font-size: 40px;
  line-height: 76px;
  letter-spacing: 0%;
  vertical-align: middle;
}
.section_title > h5 {
  font-weight: 400;
  font-size: 17px;
  margin-top: -10px;
  color: rgba(115, 115, 115, 1);
}
.destination_box > .destination_img {
  position: relative;
}
.destination_box > .destination_img > img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.destination_box > .destination_img > .destination_name {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 85px;
  background: linear-gradient(
    to top,
    #0009 0,
    #0009 calc(100% - 32%),
    #0000 100%
  );
  display: flex;
  width: 100%;
  justify-content: start;
  padding-left: 20px;
  align-items: center;
  border-radius: 0rem 0rem 1.4rem 1.4rem;
}
.destination_box > .destination_img > .destination_name > h5 {
  color: #ffff;
  font-weight: 700;
  font-size: 28px;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-family: var(--font-fam);
}
/* *****************************>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> recomended for you  */
.recomend_section > .section_title > .title_icon {
  top: -14%;
}

.recommend_card_box > .card_box > .card_box_img {
  width: 100%;
}
.recommend_card_box > .card_box > .card_box_img > img {
  width: 100%;
  object-fit: cover;
}
.recommend_card_box > .card_box > .card_box_detail {
  background: #ffff;
  margin-top: -14%;
  z-index: 111;
  position: relative;
}
.recommend_card_box > .card_box > .card_box_detail > h4 {
  font-family: var(--font-fam);
  font-weight: 700;
  font-size: 25px;
  color: var(--cl-bl);
  line-height: 32px;
  letter-spacing: 0%;
  vertical-align: middle;
}
/* ************ time */
.recommend_card_box > .card_box > .card_box_detail > .time > .icon,
.recommend_card_box > .card_box > .card_box_detail > .time > .guest {
  font-family: var(--font-fam);
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  color: var(--cl-brown);
}

.recommend_card_box > .card_box > .card_box_detail > .price_book > h5 {
  font-weight: 800;
  font-size: 25px;
  line-height: 32px;
  font-family: var(--font-fam);
  letter-spacing: 0;
  vertical-align: middle;
  color: rgba(29, 31, 39, 1);
}
.recommend_card_box > .card_box > .card_box_detail > .price_book > h5 > span {
  font-family: var(--font-fam);
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0;
  color: var(--cl-brown);
}
.recommend_card_box > .card_box > .card_box_detail > .price_book > button {
  background-color: var(--bg-color);
  padding: 10px 20px;
  border-radius: 25px 25px 25px 25px;
  font-size: 15px;
  font-weight: 700;
  color: var(--cl-bl);
}
/* *** */
.card_box > .card_box_img .rated_msg > .msg {
  padding: 4px 13px;
  background: #ffff;
  text-transform: capitalize;
  border-radius: 25px 25px;
}
.card_box > .card_box_img .rated_msg > .msg > p {
  font-size: 14px;
  font-weight: 700;
  color: rgba(240, 152, 20, 1);
  font-family: var(--font-fam);
}
.card_box > .card_box_img .rated_msg > .msg_icon {
  background-color: #ffff;
  border-radius: 50%;
  padding: 7px;
}
.card_box > .card_box_img .rated_msg > .msg_icon > svg {
  font-size: 18px;
}

.recommend_card_box > .card_box > .card_box_detail > .rating_list {
  top: -6%;
  background-color: #ffff;
  padding: 5px 10px;
  border-radius: 25px 25px;
}
.recommend_card_box
  > .card_box
  > .card_box_detail
  > .rating_list
  > span:nth-child(1)
  > svg {
  color: rgba(255, 199, 0, 1);
  font-size: 15px;
}
/* *********************** */
.recommend_card_box {
  display: flex;
  flex-direction: column;
  flex: 1; /* stretch to fill available height */
  height: 100%;
}
.card_box {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
}
.card_box_detail {
  flex-grow: 1; /* allow detail section to take remaining space */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* space out content vertically */
}
/* ************button */
.button_more > button {
  background-color: var(--color);
  color: #ffff;
  border-radius: 25px;
  padding: 13px 30px;
  font-weight: 600;
  margin-top: 30px;
}
/* *************************************************************************** Offet set csss */
/* Initial state (hidden & slightly up) */
.slide-text {
  opacity: 0;
  transform: translateY(-30px);
  transition: all 1s ease;
}

/* When slide is active */
.swiper-slide-active .slide-text {
  opacity: 1;
  transform: translateY(0);
}

/* Optional: slower & smoother */
.swiper-slide-active .slide-text {
  transition-duration: 1.2s;
}
.swiper-slide .slide-text > .text > h2 {
  color: #ffff;
  font-family: var(--font-fam);
  font-weight: 600;
  font-size: 40px;
  line-height: 50px;
  text-transform: capitalize;
  margin-bottom: 25px;
}
.swiper-slide .slide-text > .text_point {
  font-family: var(--font-fam);
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  color: #ffff;
  display: flex;
  align-items: center;
}
.swiper-slide .slide-text > .text_point > p > span:nth-child(1) {
  padding: 3px;
  background: #ffff;
  border-radius: 50%;
}
.swiper-slide .slide-text > .text_point > p > span:nth-child(1) > svg {
  color: #0a0a0a !important;
  font-size: 10px;
  font-weight: 600;
}
.swiper-slide .slide-text > .text_button > button {
  padding: 15px 30px;
  background-color: var(--color);
  border-radius: 25px;
}
.swiper-slide .slide-text > .text_button > button > span {
  font-size: 16px;
  font-weight: 600;
  color: var(--background) !important;
  text-transform: capitalize;
}
.swiper-slide .slide-text > .text_button > button > span:nth-child(2) > svg {
  transform: rotate(40deg);
  font-size: 22px;
}
.swiper_inner_img {
  mask-image: url("/home/offer/offer-banner-img-shape.png");
  mask-repeat: no-repeat;
  margin-left: auto;
  max-width: 525px;
  width: 100%;
  border-radius: 0px 20px 20px 0px;
}

/* Optional: smooth scaling */
.swiper_inner_img img {
  transition: transform 1.2s ease;
  object-fit: cover;
}
.banner_image > img {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
}
/* ***********************************************************************   experience explore section */
.experience_explore_section > .card > .card-body > .card_detail > h5 {
  font-size: 17px;
  font-weight: 600;
}
.experience_explore_section > .card > .card-body > .card_detail > p {
  font-size: 12px;
  font-weight: 300;
}
.experience_explore_section > .card > .card-body > .rating > span {
  font-size: 13px;
  color: var(--bg-color);
}
.card > .heart_icon > span {
  color: var(--bg-color);
  font-size: 30px;
}
.card > .heart_icon > span > svg {
  background: #ffffff;
  padding: 5px;
  border-radius: 50%;
}
/* ************************************************************** footerrrrrrrrrrr>>>>>>>>>>>>>>>>>>>>>>>  */
.footer_section {
  background-color: rgba(29, 31, 39, 1);
}
.footer_detail > .footer_title > p {
  font-family: var(--font-fam);
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  line-height: 26px;
  letter-spacing: 0%;
  text-transform: capitalize;
}
.footer_detail > .footer_location > ul > li {
  color: var(--cl-brown);
  font-weight: 500;
  text-transform: capitalize;
  font-size: 16px;
}
.footer_detail > .footer_location > ul > li > span {
  color: var(--bg-color);
}
/* ******** */
.footer_link > .link_title > h5 {
  color: #ffffff;
  text-transform: capitalize;
}
.footer_link ul > li {
  list-style: none;
}
.footer_link ul > li > a {
  font-family: var(--font-fam);
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0%;
  color: var(--cl-brown);
  text-decoration: none;
}
.footer_newslatter > .news_later_button > button {
  background-color: var(--bg-color);
  font-family: var(--font-fam);
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
}
.footer_contact_detail > .contact > .icon > svg {
  font-size: 60px;
  color: #ffffff;
}
.footer_contact_detail > .contact > .call_us > p {
  font-size: 16px;
  font-weight: 300;
  color: #ffffff;
}
.footer_contact_detail > .contact > .call_us > h5 {
  color: #ffffff;
}
.footer_contact_detail > .join_us > .icon > svg {
  font-size: 60px;
  color: #ffffff;
}
.footer_contact_detail > .join_us > .content > h5 {
  color: #ffffff;
}
.footer_contact_detail > .send_msg > .icon > svg {
  color: #ffffff;
  font-size: 16px;
}
.footer_contact_detail > .send_msg > .content {
  color: #ffffff;
}
.footer_contact_detail > .send_msg > .icon > img {
  width: 75px;
}
.footer_contact_detail > .send_msg > .content > p {
  font-weight: 500;
  font-style: Medium;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: var(--cl-brown);
}
/* ******************************************************************************************************** section page  */
.search_banner_box > .title > h2 {
  color: var(--color);
  font-size: 80px;
  font-weight: 900;
  line-height: 95px;
}
.search_banner_box > .title > h2 > span {
  color: var(--bg-color);
}
