:root {
  --background: #ffffff;
  --foreground: #171717;
  --grey-cl: #dfe1df !important;
  --font-fam: "Outfit", sans-serif !important;
  --bg-color: #12c081 !important;
  --color: #1d1f27 !important;
  --light-green: #5cffec;
  --cl-brown: rgba(115, 115, 115, 1);
  --cl-bl: rgba(29, 31, 39, 1);
}

@media only screen and (max-width: 768px) {
  /* ***************** */
  .search_container > .search_container_box > .search_tab {
    padding: 0 !important;
  }
  .search_container
    > .search_container_box
    > .search_tab
    > .tab_link
    > .help_info {
    display: none;
  }
  .search_box_input > form {
    padding: 0px !important;
  }
  /* Header >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
  .banner_box > .title {
    padding: 70px 0px 70px 0px;
  }
  .banner_box > .title > h2 {
    font-size: 85px;

    line-height: 80px;
  }
  .banner_box > .title > h5 {
    display: none;
  }
  .destination_box > .destination_img {
    position: relative;
    margin-top: 15px;
  }
  /* ********* swiper  */
  .swiper-slide .slide-text > .text > h2 {
    margin-bottom: 0px !important;
    font-size: 26px;
    font-weight: 500;
    line-height: 35px;
  }
  .swiper-slide .slide-text > .text_point {
    font-size: 10px;
  }
  .swiper-slide .slide-text > .text_button > button > span {
    font-size: 12px;
    font-weight: 600;
  }
  .swiper-slide .slide-text > .text_button > button {
    padding: 10px 30px;
  }
  .swiper-slide .slide-text > .text_button {
    margin-top: 0px !important;
  }
  .recomend_section {
    overflow-y: hidden !important;
  }
  /* *********************************************** */

  .mobile_search_box {
    padding: 20px;
    box-shadow: 0px 0px 3px 0px #c5c5c5;
    border-radius: 10px;
  }

  /* ********** */
  .search_container
    > .search_container_box
    > .search_tab
    > .tab_link
    > ul
    > li:nth-child(1)
    > a {
    white-space: nowrap;
  }
  .search_container
    > .search_container_box
    > .search_tab
    > .tab_link
    > ul
    > li
    > a {
    white-space: nowrap;
  }
}
/* ************************************************************************************************************************ */
@media only screen and (max-width: 425px) {
  /* ********** */
  .search_container {
    box-shadow: none;
  }
  /* *************************************** */
  .button_bg2 {
    width: 100%;
  }
  .container {
    padding-left: calc(1.8rem * 0.5);
    padding-right: calc(1.8rem * 0.5);
  }
  /* ********* offer section   */
  .swiper-slide .slide-text > .text_point {
    font-size: 15px;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 5px;
  }
  .swiper-slide .slide-text > .text_point > p {
    margin: 0 !important;
  }
  /* ************************************************************** */
  body > div {
    overflow-x: hidden;
  }
  .navbar-brand > .logo > img {
    width: 90%;
  }

  .search_container > .search_container_box > .search_tab {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    margin-bottom: 15px;
  }
  .recomend_section {
    overflow-y: hidden !important;
  }
  .md-pb {
    padding-bottom: 30px !important;
  }

  .header_section {
    padding: 0px 20px;
  }
  .navbar_link_item > .navbar-nav-scroll {
    gap: 0 !important;
  }
  .mp-s,
  .mp-e {
    padding: 0 !important;
  }
  .banner_box > .title {
    padding: 60px 0px 50px 0px;
  }
  .banner_box > .title > h2 {
    font-size: 50px;

    line-height: 1;
  }
  .banner_box > .title > h5 {
    display: none;
  }

  .search_container > .search_container_box > .search_tab {
    padding-left: 0 !important;
    padding-right: 0 !important;
    overflow: auto;
    -ms-overflow-style: none;
  }
  /* ********************* */
  .recomend_section > .section_title > .title_icon {
    display: none;
  }
  /* ****************** */

  .mobile_search_box {
    padding: 20px;
    box-shadow: 0px 0px 3px 0px #c5c5c5;
    border-radius: 13px;
  }
  .mobile_search_box form > input {
    border-radius: 10px;
    padding: 13px 43px;
  }
  .mobile_search_box form > ul > li > a {
    color: var(--color);
    font-size: 15px;
    text-decoration: none;
  }
  .mobile_search_box form > .icon_search {
    top: 18%;
  }
  .section_title > h2 {
    font-size: 32px;
    font-weight: 800;
    line-height: 1.2;
  }
  .section_title > h5 {
    margin-top: 5px;
    font-size: 15px;
  }

  .experience_explore_section > .card > .card-body > .card_detail > h5 {
    font-size: 18px;
    padding-left: 10px;
  }
  .experience_explore_section > .card > .card-body > .card_detail > p {
    font-size: 15px;
    font-weight: 300;
    padding-left: 10px;
  }
  /* /********************************* mobile searcfh ing  */
  /* *************************** destination  */
  .swiper-backface-hidden .swiper-slide {
    backface-visibility: hidden;
    transform: translateZ(0);
    /* padding: 0px 10px; */
  }
  .destination_title {
    margin-bottom: 10px;
  }
  .destination_box > .destination_img > img {
    height: 200px;
  }
  /* *************** vanner ofer */

  /* SAME padding for ALL slides */
  .swiper-slide .slide-text {
    padding: 0px 30px !important;
    gap: 10px !important;
  }

  /* Optional: animation only */
  .swiper-slide {
    transition: transform 0.3s ease, opacity 0.3s ease;
  }

  .swiper-slide-active {
    opacity: 1;
  }

  .swiper-slide-prev,
  .swiper-slide-next {
    opacity: 0.95;
  }

  .offer_swiper {
    padding: 40px 0px 40px 0px;
  }

  .grid-cols-2 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 15px;
  }

  .swiper_inner_img {
    -webkit-mask-image: none;
    padding: 0px 25px;
  }

  .swiper_inner_img img {
    border-radius: 10px;
  }
  .blog_box {
    /* padding: 0px 35px; */
    margin-bottom: 25px !important;
  }
  .blog_section > .destination_title {
    margin-bottom: 30px;
  }
  .footer_detail > .footer_logo {
    margin-bottom: 30px;
  }
  .footer_link > .link_title > h5,
  .footer_link > ul {
    padding-left: 0px !important;
  }
  .footer_contact_detail {
    padding: 0px !important;
  }
  .footer_contact_info > .row {
    gap: 20px;
  }
  .bottom_footer > .reserved_section {
    flex-wrap: wrap;
    gap: 15px;
  }

  .blog_box > .blog_img > .content > a {
    color: #fff;
    padding-top: 0px;
  }
  /* *********************************   off canvas  */
  .offcanvas.offcanvas-end {
    width: 80%;
  }
  /* ******************** recomendation */
  .margin_md-lr {
    margin: 0px 20px;
  }
  /* ********************************************************   canva s */
  .offcanvas-title > .logo > img {
    width: 90%;
  }
  .offcanvas-header .btn-close {
    font-size: 20px;
  }
  .mega_menu_item > .mega_menu_link > ul {
    padding-top: 50px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 30px;
  }
  .mega_menu_item > .mega_menu_link > ul > li {
    margin-bottom: 30px;
  }
  .mega_menu_item > .mega_menu_link > ul > li > a {
    letter-spacing: 0.4px;
    color: #110f0f;
    line-height: 1;
    position: relative;
    font-family: var(--font-fam);
    font-weight: 650;
    font-size: 15px;
    text-decoration: none;
    transition: all 0.5s ease-out 0s;
    position: relative;
    background-color: transparent;
  }
  .button_nav {
    background-color: var(--bg-color);
  }
  .button_nav > a {
    color: var(--color);
    text-decoration: none;
    font-weight: 600;
    font-family: var(--font-fam);
  }
  /* *** footer  */
  .footer_detail {
    padding: 0px 20px;
  }
  .footer_link {
    padding: 0px 20px;
  }
  .footer_newslatter {
    padding: 0px 20px;
  }
  .footer_contact_info {
    padding: 0px 20px;
    margin-top: 20px;
  }
  .bottom_footer {
    padding: 0px 20px;
  }
  /* *************************** hotel detailsss >>>>> */
  .facilities-wrap {
    grid-template-columns: repeat(2, 1fr);
  }
  /* **************** recomand  */
  .recommend_card_box > .card_box > .card_box_detail > h4 {
    font-size: 22px;
    font-family: var(--font-fam);
    font-weight: 800;
    line-height: 1.2;
  }
  .recommend_card_box > .card_box > .card_box_detail > .price_book > h5 {
    font-size: 20px;
    line-height: 20px;
  }
  .recommend_card_box > .card_box > .card_box_detail {
    gap: 15px !important;
    padding: 35px 20px !important;
  }
  .recommend_card_box > .card_box > .card_box_detail > .price_book {
    margin-top: 0px !important;
    gap: 10px;
    flex-direction: column;
  }

  .recommend_card_box > .card_box > .card_box_detail > .time {
    justify-content: space-between;
    padding: 0px 20px;
  }
  .experience_explore_section > .card > .card-body {
    padding: 10px 10px 0px 0px;
  }
  /* ***************************************************** responsive blogs pages */
  .blog > .header_section {
    padding: 0px !important;
  }
  .blog_post_section {
    margin: 0px;
  }
  .blog_banner_box > .title > h2 {
    font-size: 40px;
  }
  .blog_section_left_bar > .breadcrumb > h4 {
    display: none;
  }
  .Blog_Detail_section {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .blog_title > h2 {
    font-size: 30px;
  }
  .blog_post_section {
    margin-top: 20px;
  }

  /* ****************************  responsive  hotel detail page  tdetail */
  .pb-md-0 {
    padding-bottom: 0px;
  }
  .facilities-list {
    margin: 0px;
  }
  .package-sidebar-area {
    margin: 0px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }
  .hoteldetail:before {
    inset: 0 0 45%;
  }
  .about_hotel {
    padding: 10px;
  }

  .swiper-horizontal .swiper-button-prev,
  .swiper-horizontal ~ .swiper-button-prev {
    background-color: var(--bg-color);
    border-radius: 50%;
    padding: 8px;
    width: 35px;
    height: 35px;
    color: var(--background);
  }
  .swiper-horizontal .swiper-button-next {
    background-color: var(--bg-color);
    border-radius: 50%;
    padding: 8px;
    width: 35px;
    height: 35px;
    color: var(--background);
  }

  .hoteldetail_banner > .content > h2 {
    font-size: 32px !important;
    line-height: 1;
    font-weight: 800;
  }
  .content_box_detail {
    margin: 0px !important;
    padding: 0px;
  }
  .hoteldetail {
    padding: 0px;
  }
  .hoteldetail_banner > .banner_img {
    padding: 22px;
  }
  .facilities-wrap {
    grid-template-columns: repeat(2, 1fr);
    /* padding: 30px 0px; */
  }
  /* .experience_explore_section {
    margin-bottom: 30px;
  } */
  .card_md_margin {
    margin-top: 20px !important;
  }
  /* (*****************************************   search title  */
  .search_banner_box > .title > h2 {
    font-size: 42px;
    line-height: 1;
  }
  /* ***************************************************** */
  .bottom-to-top {
    width: 40px;
    height: 40px;
  }
  /* *************************** faq responsive  */
  .accordian_header > h3 {
    font-size: 18px !important;
    font-weight: 600 !important;
    line-height: 1.2 !important;
  }
  .accordion_body > p {
    font-size: 16px !important;
    line-height: 1.5 !important;
  }
  .accordion-button {
    padding: 10px 15px !important;
  }
  .accordion-item > .accordion-header > button {
    gap: 20px !important;
  }
  .accordion-item > .accordion-header > button > .accordian_header {
    gap: 25px !important;
  }
  .accordion-body {
    text-align: justify;
    padding: 0px 20px 0px 20px !important;
  }
  .about_section {
    background-image: none;
    padding: 0;
  }
  .about_content {
    margin-top: 20px;
  }

  .booking_platform > .plane_icon {
    display: none !important;
  }
  /* .about_content > .section_title > p {
    line-height: normal;
  } */
  .platform_img {
    padding: 0;
  }
  /* (((((((((((((((((((((((((((( single apge  */
  .tab_head > ul {
    justify-content: center;
    gap: 10px;
    padding: 24px 0px !important;
  }
  .blog_card_box {
    padding: 0px;
  }
  .section_title > h3 {
    font-weight: 500;
    font-size: 19px;
  }
  .trusted_content_title > .content_order_list > ul > li {
    text-align: justify;
  }
  /* **************** offer  */
  .offer_banner_wrapper {
    padding: 30px 0px;
  }
  /* ****************************** */
  .blog_box > .blog_img > .content > a {
    font-size: 16px;
  }
  .search_container {
    padding: 0px 10px;
  }
}
/* ***************************************************************************************** */
@media only screen and (max-width: 390px) {
  .search_banner_box > .title > h2 {
    font-size: 35px;
  }
  .experience_explore_section > .card > .card-body > .card_detail > p {
    font-size: 12px;
  }
  .search_container
    > .search_container_box
    > .search_tab
    > .tab_link
    > ul
    > li
    > a {
    white-space: nowrap;
    padding: 5px 8px;
  }
}
/* ******************************************************************************************* 375 */
@media only screen and (max-width: 375px) {
  .banner_box > .title > h2 {
    font-size: 45px;
    line-height: 1;
  }
  .search_banner_box > .title > h2 {
    font-size: 32px;
  }
  /* *************************** hotel detailsss >>>>> */
  .facilities-wrap {
    grid-template-columns: repeat(1, 1fr);
  }
  .button_swiper2 {
    top: 30% !important;
  }
}
/* ***************************************************************************** 320 */
@media only screen and (max-width: 325px) {
  .search_banner_box > .title > h2 {
    font-size: 28px;
  }
  .banner_box > .title > h2 {
    font-size: 40px;
    line-height: 1;
  }
  .navbar-brand > .logo > img {
    width: 90%;
  }
  .search_container
    > .search_container_box
    > .search_tab
    > .tab_link
    > ul
    > li:first-child
    > a,
  .search_container
    > .search_container_box
    > .search_tab
    > .tab_link
    > ul
    > li
    > a {
    font-size: 12px;
  }
}

/* ***************************************************************************************************8888888888888888888*****************************    edn end end edn  */
/* ****************** mobile swiper button  */
.button_swiper {
  position: absolute;
  top: 45%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  z-index: 10;
  background: none;
  border: none;
  cursor: pointer;
}
.button_swiper2 {
  position: absolute;
  top: 35%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  z-index: 10;
  background: none;
  border: none;
  cursor: pointer;
}
#custom_prev > svg,
#custom_next > svg {
  fill: var(--background);
  stroke-opacity: 1;
}
#custom_prev,
#custom_next {
  background-color: var(--bg-color);
  font-size: 30px;
  border-radius: 50%;
}
#custom_prev {
  top: 50%;
  left: -7% !important;
  transform: translateY(-50%);
}

#custom_next {
  right: -7%;
  transform: translateY(-50%);
}
/* ************************* blofg prev next button  */
#blog_prev > svg,
#blog_next > svg {
  fill: var(--background);
  stroke-opacity: 1;
}
#blog_prev,
#blog_next {
  background-color: var(--bg-color);
  font-size: 30px;
  border-radius: 50%;
}
#blog_prev {
  top: 50%;
  left: -7% !important;
  transform: translateY(-50%);
}

#blog_next {
  right: -7%;
  transform: translateY(-50%);
}
/* ******************************* experienc e */
#experience_prev > svg,
#experience_next > svg {
  fill: var(--background);
  stroke-opacity: 1;
}
#experience_prev,
#experience_next {
  background-color: var(--bg-color);
  font-size: 30px;
  border-radius: 50%;
}
#experience_prev {
  top: 50%;
  left: -7% !important;
  transform: translateY(-50%);
}

#experience_next {
  right: -7%;
  transform: translateY(-50%);
}
/* **************************** destination  */
#destination_prev > svg,
#destination_next > svg {
  fill: var(--background);
  stroke-opacity: 1;
}
#destination_prev,
#destination_next {
  background-color: var(--bg-color);
  font-size: 30px;
  border-radius: 50%;
}
#destination_prev {
  top: 50%;
  left: -7% !important;
  transform: translateY(-50%);
}
.blog_pb {
  padding-bottom: 35px;
}
.blog_pt {
  padding-top: 35px;
}
#destination_next {
  right: -7%;
  transform: translateY(-50%);
}
/* ************************** iconicn plaes */
/* **************************** destination  */
#iconic_place_prev > svg,
#iconic_place_next > svg {
  fill: var(--background);
  stroke-opacity: 1;
}
#iconic_place_prev,
#iconic_place_next {
  background-color: var(--bg-color);
  font-size: 30px;
  border-radius: 50%;
}
#iconic_place_prev {
  top: 50%;
  left: -7% !important;
  transform: translateY(-50%);
}

#iconic_place_next {
  right: -7%;
  transform: translateY(-50%);
}
/* **************************** destination  */
#helping_swiper-btn-prev > svg,
#helping_swiper-btn-next > svg {
  fill: var(--background);
  stroke-opacity: 1;
}
#helping_swiper-btn-prev,
#helping_swiper-btn-next {
  background-color: var(--bg-color);
  font-size: 30px;
  border-radius: 50%;
}
#helping_swiper-btn-prev {
  top: 50%;
  left: 0 !important;
  transform: translateY(-50%);
}

#helping_swiper-btn-next {
  right: 0;
  transform: translateY(-50%);
}
